/* Write your CSS code here */
/* index.css */
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart-img {
  max-width: 100%;
  height: auto;
}
